extend groupLayout 

block content
    form(action="/joinRequest", method='POST')
        input(type='submit' name="Request" value="Request" class='btn btn-success btn-sm')
                                       
