extend layout

block content
    ul(class="list-group")
        - for (var x = 0; x < notification.length; x++)
              li(class="list-group-item")
                a(href="")= names[x]
                form(action=`#`, method='POST')
                    input(type='submit' name="accept" value="accept" class='btn btn-success btn-sm')
                    |
                    |
                    input(type='hidden' value=`${notification[x].userId}` id=`${notification[x].joinRequestId}` last=`${notification[x].groupId}` )
                    |
                    |
                    input(type='submit' name="decline" value="decline" class='btn btn-success btn-sm' formaction=`#`)                    
    script(src='/javascript/groupJoinRequest.js')



        
