extend groupLayout 

block content
    p=`${groupId}`
    ul(class="list-group")
        - for (var x = 0; x < notification.length; x++)
              li(class="list-group-item")
                a(href="")= notification[x].email
                form(action=`/joinRequest/${notification[x].email}/${groupId}`, method='POST')
                    input(type='submit' name="accept" value="accept" class='btn btn-success btn-sm')
                    |
                    |
                    input(type='submit' name="decline" value="decline" class='btn btn-success btn-sm')                    




        
