doctype html
head
  title Complinance Form
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
  // JavaScript File that will dynamically change the webpage
form(action=`/covidForm/${notificationId}`, method="post") 
  h5
  | Department of Health Covid19 24-Hour Hotline Number: 0800 029 999 and WhatsApp number: 0600 12 3456
  h5
    | Please complete this daily self-screening questionnaire before leaving home and before coming onto Campus. 
    h5
      | Persons are not permitted onto Campus if the below screening has not been done.
      h5
        | Full Name(s) 
        input(type='text' name='fullName' placeholder='Enter your Full Names')
        h5
          | Student Number 
          input(type='number' name='studentNo' placeholder='1416262')
          h5
            | From which University entity/division/school 
            input(type='text' name='universityEntity' placeholder='Wits EIE')
            h5
              | Cell Number 
              input(type='number' name='cellNo' placeholder='071 100 9333')
              h5
                | I hereby attest that the information provided in the below checklist is a true reflection of my screening results.
                .container
                  h3
                    | A Symptom Check (Please select the relevant response in the yes / no column)
                    table.table.table-dark
                      thead
                        tr
                          th CONDITION/SYMPTOM
                          th RESPONSE
                      tbody
                        tr
                          td
                            | 1. Are you suffering from fever / high temperature or have temperature fluctuations?
                          td
                            | Yes
                            input#feverYes(type='radio' name='feverYes')
                            |   No
                            input#feverNo(type='radio' name='feverNo')
                        tr
                          td 2.Do you have a dry cough?
                          td
                            | Yes
                            input#coughYes(type='radio' name='coughYes')
                            |  No
                            input#coughNo(type='radio' name='coughNo')
                        tr
                          td 3.Do you have a sore throat?
                          td
                            | Yes
                            input#throatYes(type='radio' name='throatYes')
                            |  No
                            input#throatNo(type='radio' name='throatNo')
                        tr
                          td 4.Do you have redness of eyes?
                          td
                            | Yes
                            input#eyesYes(type='radio' name='eyesYes')
                            |  No
                            input#eyesNo(type='radio' name='eyesNo')
                        tr
                          td 5.Do you experience shortness of breath/difficulty in breathing?
                          td
                            | Yes
                            input#breathYes(type='radio' name='breathYes')
                            |  No
                            input#breathNo(type='radio' name='breathNo')
                        tr
                          td 6.Have you got unusual body aches/muscle pain?
                          td
                            | Yes
                            input#painYes(type='radio' name='painYes')
                            |  No
                            input#painNo(type='radio' name='painNo')
                        tr
                          td 7. Do you experience a loss of smell / taste?
                          td
                            | Yes
                            input#smellYes(type='radio' name='smellYes')
                            |  No
                            input#smellNo(type='radio' name='smellNo')
                        tr
                          td 8.Are you nausea and/or do you experience unusual vomiting?
                          td
                            | Yes
                            input#vomitYes(type='radio' name='vomitYes')
                            |  No
                            input#vomitNo(type='radio' name='vomitNo')
                        tr
                          td 9.Have you got diarrhea? 
                          td
                            | Yes
                            input#diarrheaYes(type='radio' name='diarrheaYes')
                            |  No
                            input#diarrheaNo(type='radio' name='diarrheaNo')
                        tr
                          td 10.Do you suffer from fatigue/ physical weakness/ tiredness? 
                          td
                            | Yes
                            input#fatigueYes(type='radio' name='fatigueYes')
                            |  No
                            input#fatigueNo(type='radio' name='fatigueNo')
                    // Section B of the form starts Here
                .container
                  h3
                    | B Contact / Exposure Risk (Please select the relevant response in the yes / no column)         
                    table.table.table-dark
                      thead
                        tr
                          th CONDITION/SYMPTOM
                          th RESPONSE
                      tbody
                        tr
                          td 1.In the past 10 days have you tested positive for COVID-19?
                          td
                            | Yes
                            input#daysYes(type='radio' name='daysYes')
                            |  No
                            input#daysNo(type='radio' name='daysNo')
                        tr
                          td
                            | 2.In the past 10 days were you exposed* to someone who is positively diagnosed
                            | with COVID-19, or to someone who is in quarantine / self-isolation for COVID-19? * Exposed in family or community setting is spending greater than 15 minutes in infected person&rsquo;s company AND
                            | being 1.5m apart AND not wearing a face mask. * Exposed in clinical setting is not wearing proper PPE, or PPE failure AND spending &gt;15 minutes in
                            | infected person&rsquo;s company AND being less than 1.5m apart.
                          td
                            | Yes 
                            input#exposureYes(type='radio' name='exposureYes')
                            |  No
                            input#exposureNo(type='radio' name='exposureNo')
                    // Section C of the form
                    .container
                      h3
                        | C Other Risk Factors (Please select the relevant response in the yes / no column)
                        table.table.table-dark
                          thead
                            tr
                              th CONDITION/SYMPTOMS
                              th Response
                          tbody
                            tr
                              td
                                | Do you suffer from any pre-existing medical condition / chronic illness that may
                                | have compromised your immune system, i.e. respiratory disease, diabetes, heart
                                | disease, or any other chronic illness that could compromise one&rsquo;s immune system?
                              td
                                | Yes
                                input#chronicYes(type='radio' name='chronicYes')
                                |  No
                                input#chronicNo(type='radio' name='chronicNo')
                            tr
                              td Are you 60 years of age or older?
                              td
                                | Yes
                                input#ageYes(type='radio' name='ageYes')
                                |  No
                                input#ageNo(type='radio' name='ageNo')
                        p
                          | If you answered &ldquo;YES&rdquo; to any of the questions mentioned in questions A1 to A10 and B1 &amp; B2 then:
                          | i). Don&rsquo;t attempt to enter Campus. ii). Consult your Healthcare Worker to seek advice. iii). Urgently notify your
                          | Supervisor / Manager / HoS / Course Coordinator if you cannot come onto Campus. iv). If you reside on Campus then
                          | remain in your room, seek advice telephonically from relevant CHRL staff and follow the CHRL COVID-19 protocols. v).
                          | Only enter Campus again if cleared by a Healthcare Worker.
                        p
                          | If you experience any symptoms mentioned in questions A1 to A10 then this does not mean that you definitely have
                          | COVID-19. This screening questionnaire is used as precautionary indicator to establish whether you should be
                          | quarantined. Tests may be required for a definite diagnosis to be made.
                        p
                          | If you answered &ldquo;YES&rdquo; to any of the questions in C1 and C2 (but have none of the symptoms mentioned in A1 to A10),
                          | then this does not mean that you will not be permitted entry onto Campus (a decision may be necessary from CHWC
                          | whether your responses require any further intervention).
                        p
                          | Notify Campus Health &amp; Wellness Centre ASAP if your status in Sections A, B or C changes at any time.
                        button#submit(type='submit') Submit