extends layout

block content
    a(href="/") Home page
    h1= title
    form(action='/Creategroup', method='post')
        div.creating
            label(for='GroupName') GroupName
            input(type='text', name='GroupName', id = 'GroupName',class ='Group-info', placeholder='Enter Group name')
        div.creating
            label(for='school') School
            input(type='text', name='school', id ='school',class ='Group-info', placeholder='Enter your school')
        div.creating
            label(for='Thumbnail') Thumbnail
            input(type='text', name='Thumbnail', id='Thumbnail',class ='Group-info', placeholder='Group Icon')
        div.creating
            label(for='adminId') adminId
            input(type='email', name='adminId', id='adminId',class ='Group-info', placeholder='Enter your email')
        button(type='submit', class ='btn btn-primary') Submit