extend layout

block content
    div.
    h4= title
      
    form(action="/meeting/place" method="GET")
        .mb-3 
            input(type='submit' class='btn btn-primary' value='face-to-face' id='face-to-face') 
        div.mb-3 
            label(for="meetingDate" class="form-label") Meeeting Date
            input(type="datetime-local"  name="time" class="form-control" id="date")
        div.mb-3 
            label(for="surname" class="form-label") Meeting agenda
            textarea(type="text" name="agenda" class="form-control" id="exampleInputEmail1")
        div(class='mb-3' id='address-div') 
         
        button(type="submit" class="btn btn-primary" id='submit') Arrange meeting
    script(src="/javascript/meetingSelection.js")