extends layout

block content
    h3= title
    form(action='/group/createGroup',enctype ='multipart/form-data', method='post')
        div.mb-3
            label(for='groupName' class="form-label") GroupName
            input.form-control(type='text', name='groupName', id = 'groupName',class ='Group-info', placeholder='Enter Group name')
        div.mb-3 
            select( name="school" class="form-select") 
                <option selected>Select your field of study</option>
                each school in schools
                    option(value=`${school}`)= school
        div.mb-3
            label(for='thumbnail' class="form-label") Group thumbnail
            input.form-control-file(type='file', accept="image/*", name='thumbnail', id='thumbnail',class ='Group-info', placeholder='Group Icon')
        button(type='submit', class ='btn btn-primary') Submit
        