extends layout
block content
    div.lin-container(style="width: 100%; height: 100%; float: left;")
        a.link-head(href=`${linkURL}`)
            h3.h3= title
        div.link-body(style="width: 100%; height: 100%; float: none;")
            iframe(src=`${linkURL}`, loading="lazy" allowfullscreen=true style="width: 100%; height: 400px; float: left;")  