extends groupLayout

block content
       img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtNWVnKZZfy-1CLo75eO5vLhTWFZyeyc7QaI6GgdSalXDIJOCA6t0DSdDDMabrTOdjdYs&usqp=CAU")
       |
       |
       h1=title
       p="biography here"
       p="other stuff..."
       div(class="container" style="background-color:#C3F8F8")
              strong="Terminate Member"
              form(action='#', method='post')
                div.mb-3
                   label(for="groupName" class="form-label") Reason for temination
                   input(type='text', name='groupName', id = 'groupName',class="form-control")
                button(type='submit', class ='btn btn-primary') Submit