extends layout
block content
    h4= title
    form(action="/group/search" method="POST")
        div.mb-3 
            input(type="text" placeholder="Search group by name" name="groupName" class="form-control" id="exampleInputEmail1")
        button(type="submit" class="btn btn-primary") Search 
    if groups.length == 0 
        h4 Group is not found 
    else
        .row.row-cols-1.row-cols-md-4.g-4
            each group in groups 
                .col(style='margin:15px 0;')
                    .card
                        img.card-img-top(src="https://www.seekpng.com/png/detail/215-2156215_diversity-people-in-group-icon.png")
                        .card-body
                            h5.card-title=group.groupName
                            p.card-text Group description
    nav( aria-label="Page navigation example")
    ul.pagination.justify-content-end
        li.page-item.disabled
            a.page-link( href="#" tabindex="-1") Previous
        li.page-item
            a.page-link(href="#") 1
        li.page-item
            a.page-link(href="#") 2
        li.page-item
            a.page-link(href="#") 3
        li.page-item
            a.page-link( href="#") Next
    </li>
    

    //- .row.row-cols-1.row-cols-md-4.g-4
    //-     each group in groups 
    //-         .col(style='margin:15px 0;  height: 220px')
    //-             .card(style="height: 100%")
    //-                 img.card-img-top(src="https://www.seekpng.com/png/detail/215-2156215_diversity-people-in-group-icon.png" style="height: 55%")
    //-                 .card-body
    //-                     h5.card-title=group.groupName
    //-                     p.card-text Group description