extends layout
block content
    p welcome to links page
    // Button trigger modal
    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')
        | Add topic
    // Modal
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true' style="width: 400px;position: relative; margin: auto;")
        .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Add a topic
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                input#topic(style="outline: none; border-width:0px;", placeholder = "Topic") 
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                button#add-topic.btn.btn-primary(type='button') Add
    if links!==null    
        each link, index in links
            -if(index>0)
                -if(link.topicId !== links[index-1].topicId )
                    h4= link.topic 
                    ul.list-group 
                -else
                    li(class="list-group-item" style="margin-bottom: 0px;")
                        .link
                            a(href=`${link.linkURL}`)= link.title
                            //- if (link.userId == userId)
                            button edit 
                            button delete
            -if(index=0)
                h4= link.topic 
                ul.list-group 
                    li(class="list-group-item" style="margin-bottom: 0px;")
                        .link
                            a(href=`${link.linkURL}`)= link.title
                            //- if (link.userId == userId)
                            button edit 
                            button delete
    else 
        ul.list-group
                li(class="list-group-item" style="margin-bottom: 0px;")
                    p There are not topics and links added in this group.
                li(class="list-group-item" style="margin-bottom: 0px;")
                    p There are not topics and links added in this group.
    script(src="/javascript/links-frontend.js")
            