extends groupLayout

block content
   meta(charset="utf-8")
   meta(name="viewport" content="width=device-width, initial-scale=1")
   link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
   script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
   
   h3=title
          ul(class='list-group' id="list-parent")
            - for (var x = 0; x < members.length; x++)
              li(class="list-group-item" style="font-size:15px" id="list")
                div(class="container")
                  p(id=`${members[x].email}`)=`${members[x].firstName} ${members[x].surname}`
                  button(type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal")  Terminate Member
                  div(id="myModal" class="modal fade" role="dialog")
                      div(class="modal-dialog")
                          div(class="modal-content")
                             div(class="modal-header")
                                h4(class="modal-title") Reason For termination
                                |
                                |
                                button(type="button" class="close" data-dismiss="modal") &times;
                           
                             div(class="modal-body")
                                textarea(name="", cols="63", rows="10", placeholder="Provide your reason here" id="terminateReason")
                             div(class="modal-footer")
                                button(type="button" class="btn btn-success" data-dismiss="modal" disabled id='submit') Submit
                           
      

   script(src='/javascript/members.js')