extends groupLayout

block content
   head
        script.
           var groupId = #{groupId}
   meta(charset="utf-8")
   meta(name="viewport" content="width=device-width, initial-scale=1")
   link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
   script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
   div(class="container")
      h3=title
      img(src='https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png' width="250" height="200" )
      
      div(class='mb-3') 
      button(type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal")  Terminate Member
      div(id="myModal" class="modal fade" role="dialog")
            div(class="modal-dialog")
               div(class="modal-content")
                  div(class="modal-header")
                     h4(class="modal-title") Reason For termination
                     |
                     |
                     button(type="button" class="close" data-dismiss="modal") &times;
               
                  div(class="modal-body")
                     textarea(name="", cols="63", rows="10", placeholder="Provide your reason here" id="terminateReason")
                  div(class="modal-footer")
                     button(type="button" class="btn btn-success" data-dismiss="modal" id='submit') Submit
                              
         
