extend layout

block content
    div.
    h4 Create a new account
    form(action="/signup" method="POST")
        div.mb-3 
            label(for="name" class="form-label") First name
            input(type="text" placeholder="Name" name="name" class="form-control" id="exampleInputEmail1")
        div.mb-3 
            label(for="surname" class="form-label") Surname
            input(type="text" placeholder="Last Name" name="surname" class="form-control" id="exampleInputEmail1")
        div.mb-3 
            label(for="email" class="form-label") Email address
            input(type="text" placeholder="e.g kaddy120@gmail.com" name="email" class="form-control" id="exampleInputEmail1")
        div.mb-3 
            select( name="school" class="form-select")
                <option selected>Select your field of study</option>
                each school in schools
                    option(value=`${school}`)= school
        div.mb-3 
            select( name="yearOfStudy" class="form-select")
                <option selected>Select your year of study</option>
                each year in YOS
                    option(value=`${year}`)= year
        div.mb-3
            label(for="password" class="form-label") Password
            input(type="text" placeholder="password" name="password" id="password" class="form-control")
        div.mb-3
            label(for="password" class="form-label") Confirm Password
            input(type="text" placeholder="password" name="password1" id="password1" class="form-control")
        button(type="submit" class="btn btn-primary") Next
        h5 Or if you already have an account, 
            a(href="/login") login