extends groupLayout

block content 
    .form-group
        button( class='btn btn-primary btn-lg' id='trackMe') START TRACKING 
    script(src="/javascript/trackUser.js") 
    script(type='text/javascript' defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkQxBECh9wAHS7nrfLvpeEbxD8_I7UWD0&libraries=places&language=en" )