.chat-container{
    display: flex;
    flex-direction: column;
    transition: background-color .3s ease;
    /* height: 86%; */
    flex: 1 1 0;
    height: 0;
}

.chat-body{
    position: relative;
    z-index: 1;
    flex: 1 0;
    order: 2;
    flex-grow: 1;
    /* height: 100%; */
    overflow-y: scroll;
}

.chat-footer{
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    flex: none;
    order: 3;
    width: 100%;
    min-height: 3rem;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    /* position: fixed; */
    /* bottom: 0; */
    /* left: 0;
    right: 0; */
    display: flex;
    box-sizing: border-box;
    height: 100%;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#messages>li {
    padding: 0.5rem 1rem;
    color: cornsilk;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    width: 100%;
   
}

/* #messages>li:nth-child(odd) {
    background: #efefef;
} */

.main{
    display: flex;
    flex-direction: column;
    transition: background-color .3s ease;
    height: 100vh;
    padding: 0%;
}

.body{
    padding: 0 17px;
}

header{
    height: 90px;
}

.h4{
    margin-left: 16px;
}


.msg-left{
    background-color: rgb(39, 91, 151);
    align-self:flex-start;
    padding: 10px;
    border-radius: 6px;
    max-width: 600px;
}

.msg-right{
    background-color: rgb(79, 91, 116);
    align-self:flex-end;
    padding: 10px;
    border-radius: 6px;
    max-width: 600px;
}

.color-5{
    color: #e69f73!important;
}
